.App {
  background-color: #282c34;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fruit {
  position: absolute;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .fruit {
    animation: fruit-spin infinite 10s linear;
  }
}

.score {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.snek {
  border-radius: 50%;
  position: absolute;
}
.snek-body {
  background-color: limegreen;
}

.snek-head {
  background-color: lime;
}

@keyframes fruit-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
